section {
    height: 500px;
    background-color:white;
    border: solid black 1px;
    font-family: 'Montserrat', sans-serif;
}

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 25px;
}

footer {
    height: 500px;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
}

li {
    width: 200px;
    text-decoration: none;
}

h1 {
    font-size: 90px;
}

.hero-text {
    margin-left: 80px;
}

.button {
    width: 200px;
    height: 60px;
    background-color: darkolivegreen;
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
