body {
    margin: 0;
    padding: 0;
}

section {
    background-color: #181818;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}

.hero {
    height: 100vh;
    color: white;
    font-size: 25px;
}

footer {
    height: 50px;
    background-color: black;
}

nav {
    align-items: end;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0;
    color: #0078D4;
    list-style: none;
    text-align: right;
    margin-right: 50px;
    font-family: 'Montserrat', sans-serif;
}

nav li {
    font-size: 20px;
    margin-top: 5px;
    justify-content: space-around;
    font-weight: 600;
}

nav li::before {
    content: "/";
}

li {
    width: 200px;
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
    font-weight: 500;
}


h2 {
    color: #0078D4;
    font-size: 50px;
}

.name {
    color: #0078D4;
    font-weight: 700;
}

p {
    margin: 0;
    font-size: 25px;
    font-weight: 300;
    color: white;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
}

.text-block {
    top: 50%;
    width: 50%;
    height: 40%;
}

.button {
    margin-top: 25px;
    width: 120px;
    height: 60px;
    border: 2px solid #0078D4;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: #0078D4;
}

.button:active {
    background-color: #0078D4;
}

.socials {
    display: flex;
    align-items: end;
    justify-content: end;
    margin-top: 50px;
    margin-bottom: 100px;
}

.socials svg {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 4px;
}

.socials svg:hover {
    fill: deepskyblue;
}

.sub-section {
    display: flex;
    justify-content: space-around;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.headshot {
    width: 280px;
    border-radius: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.5);
}