html {
    background-color: #181818;
}

body {
    margin: 0;
    padding: 0;
}

section {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}

.hero {
    height: 100vh;
    color: white;
    font-size: 25px;
}

footer {
    height: 50px;
}

nav {
    align-items: end;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0;
    color: #0078D4;
    list-style: none;
    text-align: right;
    margin-right: 100px;
    font-family: 'Montserrat', sans-serif;
}

nav li {
    font-size: 20px;
    margin-top: 5px;
    justify-content: space-around;
    font-weight: 600;
}

nav li::before {
    content: "/";
}

li {
    width: 200px;
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
    font-weight: 500;
}

h2 {
    color: #0078D4;
    font-size: 50px;
}

h2::after {
    position: absolute;
    overflow: hidden;
    margin-left: 15px;
    margin-top: 38px;
    width: 15%;
    height: 2px;
    content: '\a0';
    background-color: rgba(0, 120, 212, 0.35);
}

.name {
    color: #0078D4;
    font-weight: 700;
}

p {
    font-size: 20px;
    font-weight: 300;
    color: white;
}

a {
    color: #0078D4;
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    color: deepskyblue
}

.hero-area {
    display: flex;
    height: 80%;
    justify-content: space-between;
    align-items: end;
}

.hero-text {
    margin-left: 200px;
}

.text-block {
    top: 50%;
    width: 50%;
    height: 40%;
}

.sub-text {
    width: 90%;
}

.button {
    margin-top: 25px;
    width: 120px;
    height: 60px;
    border: 2px solid #0078D4;
    border-radius: 10px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: #0078D4;
}

.button:active {
    background-color: #0078D4;
}

.socials {
    display: flex;
    align-items: end;
    justify-content: end;
    margin-top: 50px;
    margin-bottom: 100px;
}

.socials svg {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 4px;
}

.socials svg:hover {
    fill: deepskyblue;
}

.sub-section {
    margin-left: 200px;
    display: flex;
    justify-content: space-around;
}

.technologien-container {
    display: flex;
    margin-left: 2%;
}

.technologien-left {
    flex: 1;
    color: white;
}

.technologien-right {
    flex: 1;
    color: white;
    margin-left: -55%;
}

.technologien {
    list-style-image: url('images/arrow.svg');
    padding: 0;
}

.headshot-container {
    margin-right: 600px;
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.headshot {
    width: 260px;
    border-radius: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
}

.container .content {
    width: 600px; /* oder eine andere feste Breite */
    margin: 0 auto;
  }
  

.stationen {
    position: sticky;
    top: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100px;
}

.stationen li {
    padding: 10px;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    padding-left: 20px;
    margin-top: -2%;
}

.description {
    display: none;
}

.description.active {
    display: block;
    margin-left: 150px;
}

.information {
    margin-left: -950px;
}

.stationen li {
    position: relative;
    padding-left: 20px;
}

.stationen li:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    width: 1px;
    background-color: black;
}

.stationen li.active:before {
    width: 2px;
    background-color: #0078D4;
}

.description h3 {
    white-space: nowrap;
  }
  