section {
    height: 500px;
    background-color: #13202F;
    border: #1C2938 2px;
    font-family: 'Montserrat', sans-serif;
}

.hero {
    height: 100vh;
    color: white;
    font-size: 25px;
}

footer {
    height: 50px;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    align-items: end;
    flex-direction: row-reverse;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
}

li {
    width: 200px;
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
    font-weight: 500;
}

.name {
    color: #0078D4;
    font-weight: 700;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 55px;
    background-color: #0078D4;
    border-radius: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.button:hover {
    background-color: #1280D4;
}

.button:active {
    background-color: #1280D4;
}

.socials {
    padding-bottom: 200px;
}
